<h1> <%=@post.title%> </h1>
<ul>
    <% @categories.each do |category| %>
        <li><%= category.name %></li>
    <% end %>
</ul>
<p> <%=@post.content%> </p>

<% if @comments !=[] %>
<ul>
    <% @comments.each do |comment| %>
        <li><%= "#{comment.user.username} says: #{comment.content}" %>
    <% end %>
</ul>
<% end %>
<% if @my_users !=[] %>
<ul> 
    <% @my_users.each do |user| %> 
        <li><%= link_to user.username, user_path(user) %></li>
    <% end %>
</ul>
<% end %>
<%= form_for @comment do |f| %>
    <%= f.hidden_field :post_id, value: @post.id %>
    <%= f.label :content %>
    <%= f.text_area :content %>
    <%= f.collection_select :user_id, @users, :id, :username, include_blank: true %>
    <%= f.fields_for :user, @user do |user_fields| %>
        User Name:<%= user_fields.text_field :username %>
        <% end %>
    <%= f.submit %>
<% end %>
